[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
	branch = master
