[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "extern/xtensor"]
	path = extern/xtensor
	url = git@github.com:xtensor-stack/xtensor.git
[submodule "extern/xsimd"]
	path = extern/xsimd
	url = git@github.com:xtensor-stack/xsimd.git
[submodule "extern/xtl"]
	path = extern/xtl
	url = git@github.com:xtensor-stack/xtl.git
[submodule "extern/xtensor-python"]
	path = extern/xtensor-python
	url = git@github.com:xtensor-stack/xtensor-python.git
