[submodule "extern/pybind11"]
	path = extern/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = stable
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "extern/eigen-3.4.0"]
	path = extern/eigen-3.4.0
	url = https://gitlab.com/libeigen/eigen.git
